{% extends 'base_user.html' %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}Créer un ticket{% endblock %}
</head>
<body>
    {% block content %}

        <h3>Créer un ticket</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <button><a href="{% url 'flux' %}">Retourner</a></button>
            <input type="submit" value="Envoyer">

        </form>
    {% endblock %}

</body>
</html>