{% extends 'base_user.html' %}

{% block title %}Créer une critique{% endblock %}

{% block subtitle %}Créer une critique (en réponse à un ticket){% endblock %}

{% block content %}
    <h3>Créer une critique</h3>
    <div>
        <h4>Vous êtes en train de poster en réponse à </h4>
        <div>
            <p>{{ post.user }} a demandé une critique</p>
            {% include 'ticket/ticket_details.html' %}
        </div>
    </div>
    <div>
        <h4>Critique</h4>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button><a href="{% url 'flux' %}">Retourner</a></button>
            <input type="submit" value="Envoyer">
        </form>
    </div>
{% endblock %}