{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> LITReview | {% block title %}{% endblock %}</title>
</head>
    <nav>
        {% block navbar %}<h2>LITReview</h2>{% endblock navbar %}
    </nav>
<body>
    <div>
        <p>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </p>
    </div>
    {% block content %}

    {% endblock %}

</body>
</html>