{% extends 'base_user.html' %}

{% block title %}Flux{% endblock %}

{% block subtitle %}Flux{% endblock %}

{% block content %}
    <div>
        <button type="button"><a href="{% url 'création_ticket' %}">Demander une critique</a></button>
        <button type="button"><a href="{% url 'création_critique_et_ticket' %}">Créer une critique</a></button>
    </div>
	{% for post in posts %}
        <li>
            {% if post.content_type == 'REVIEW' %}
                {% if post.user == user %}
                    <h4>Vous avez publié une critique</h4>
                {% elif post.user != user %}
                    <h4>{{ post.user }} a demandé une critique</h4>
                {% endif %}
                {% include 'review/review_details.html' %}

                <div>
                    {% if  post.ticket.user  == user %}
                        <h4>Ticket</h4>
                    {% else %}
                        <h4>Ticket - {{ post.ticket.user }}</h4>
                    {% endif %}
                    <h3>{{ post.ticket.title }}</h3>
                    {% if post.ticket.thumbnail %}
                        <img src="{{ post.ticket.thumbnail.url }}" alt="L'image du ticket" height="200" width="135">
                    {% endif %}

                </div>
            {% elif post.content_type == 'TICKET' %}
                {% if post.user == user %}
                        <h4>Vous avez demandé une critique</h4>
                    {% elif post.user != user %}
                        <h4>{{ post.user }} a demandé une critique</h4>
                    {% endif %}
                {% include 'ticket/ticket_details.html' %}

                <button type="submit"><a href="{% url 'création_critique_en_réponse' pk=post.id %}">Créer une critique</a></button>

            {% endif %}
        </li>
    {% endfor %}

{% endblock %}