{% extends 'base_user.html' %}

{% block title %}Flux{% endblock %}

{% block content %}
    <div>
        <button type="button"><a href="{% url 'création_ticket' %}">Demander une critique</a></button>
        <button type="button"><a href="{% url 'création_critique_et_ticket' %}">Créer une critique</a></button>
    </div>
	{% for post in posts %}
        <div>
            {% if post.content_type == 'TICKET' %}

                {% include 'ticket_details.html' %}
                <button type="submit"><a href="{% url 'création_critique_en_réponse' pk=post.id %}">Créer une critique</a></button>

            {% elif post.content_type == 'REVIEW' %}
                {% include 'review_details.html' %}

        </div><br><br>
            {% endif %}

    {% endfor %}

{% endblock %}