{% extends 'base_user.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

	{% for post in posts %}

        {{ post.title }}
        {{ post.description }}
        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.url }}" alt="L'image du ticket" height="200" width="135">
        {% endif %}
        {{ post.user }}
        {{ post.time_created }}
        {{ post.last_update }}<br/><br/>

        <button><a href="{% url 'modifier_ticket' pk=post.id %}">Modifier</a></button>
        <button><a href="{% url 'ticket' pk=post.id %}">Supprimer</a></button>

    {% endfor %}


{% endblock %}